body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.col {
	border: 1px red solid;
}

.bg-brown {
	background-color: #3C0717;
}

.bg-red {
	background-color: #680D28;
}

.bg-cream {
	background-color: #FFF6EA;
}
